@media (max-width: 700px) {
    .wrapper {
        width: 100%;
     }


    .footer_menu {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        z-index: 1;
        top: -300px;
        background-color: transparent;
        transition: 0.4s;
    }

    .footer_menu_activ {
        top: 50px;
    }
    
    .footer_menu_burger {
        height: 50px;
        background: rgb(255, 255, 255);
        z-index: 4;
        display: block;
        position: relative;
    }

    .shadow_logo {
        position: absolute;
        margin: auto;
        left: 0; 
        right: 0; 
        top: -65px;
        width: 110px;
        height: 110px;
        box-shadow: -6px -6px 18px 15px #81b3d2;
        border-radius: 15%;
        transform: rotate(50deg) skew(10deg);
        z-index: -1;
        
    }

    .footer_navigation {
        align-items: center;
        flex-direction: column;
    }

    .footer_menu .footer_navigation li a {
        width: 100%; 
        line-height: 50px;
        text-align: left;
        padding-left: 15px;
        color: white;
      
    }

    .footer_navigation li:hover {
        background-color: rgb(37, 37, 37);
    }
    

    .footer_navigation li {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 55px;
        background: rgba(0, 0, 0, 0.7);  
        transition: 0.2s; 
        border-bottom: 1px solid rgb(37, 37, 37);
    }

    .housing {
        margin: 0;
    }

    .burger_button {
        position: absolute;
        width: 41px;
        height: 41px;
        top: 0; bottom: 0; left: 5px;
        margin: auto;
        transition: 0.2s;
    }


    .burger {
        position: relative;
        top: 11px;
        left: 6px;
        width: 28px;
        height: 3px;
        background: black;    
        border-radius: 25%;
        box-shadow: -1px -1px 0px 1px #cccccc;      
    }
    
    .burger:after, .burger:before {
        content: "";
        position: absolute;
        top: 8px;
        width: 28px;
        height: 3px;
        background: black;    
        border-radius: 25%;
        box-shadow: -1px -1px 0px 1px #cccccc; 
    }

    .burger:after {
        top: 16px;
    } 

    .chois_options_hotel {
        margin-top: 50px;
    }

    .sorting_menu {
        flex-direction: column;
    }

    .sorting_menu *{
        margin-top: 5px;
    }

    .sorting_menu li{
        padding-left: 15px;
    }

    .sorting_menu li:not(:first-child){
        padding-left: 15px;
        justify-content: center;
        padding-left: 50px;
    }

    .sorting_menu li:first-child{
        order: 5;
        border-top: 1px solid #cccccc;
        margin-top: 10px;
        width: 130%;
    }

    .sorting_menu li:nth-child(2){
        padding-left: 15px;
        justify-content: flex-start;
    }


    .sort_word {
        order: 1;
        font-size: 22px;
        margin-right: 15px;
    }

    .drop_arrow_menu{
        align-self: flex-end;
        margin-bottom: 15px;
        width: 65px;
    }

    .sorting_section{
        overflow: hidden;
     }

     .sorting_section .position {
        margin-left: 0px;
        width: 95%;
     }

    .section_constructor_hotel .position {
        flex-wrap: wrap;  
    }

    .rating_hotel {
        flex-direction: row;
        align-items: flex-end;
        height: 50px;
        margin-left: 15px;
        width: 100%;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .rating_stars {
        line-height: 40px;
        text-shadow: 1px 1px 0px black;
        margin-right: 25px;
        color: rgb(236, 221, 9)
    }

    .rating_point {
        box-shadow: 0px 0px 2px 1px black;
        color: black;
    }

    .image_hotel {
        display: block;
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 100%;
        top:0;
    }


    .image_hotel img{
        position: relative;
        width: 100%;
        height: 100%;
        filter: blur(1px);
        object-fit: cover;
    }

    .section_constructor_hotel {
        position: relative;
        align-items: flex-start
    }

    .section_constructor_hotel h1 {
        color: rgb(255, 209, 4);
        text-shadow: 2px 2px 0px black;
    }

    .cost {
        color: black;
        text-shadow: 0px 0px 1px rgb(202, 197, 255);
    }

    .section_constructor_hotel .position {
        margin: 0;
        width:100%;
        align-self: center;
    }

    .boking_a_hotel {
        margin-left: 15px;
    }

    .header_section {
        flex-direction: column;
    }

    .header_section *{
        margin-top: 10px;
    }

    .information_of_site {
        flex-basis: 100%;
    }

    .information_of_site *{
        margin: 10px;
    }

    .social_network {
        flex-basis: 100%;
        width: 200px;
    }

    .sorting_arrow {
        display: block;
        width: 1px;
        height: 1px;
        border: 10px solid transparent;
        border-bottom: none;
        border-top: 15px solid #15064e;
        transition: 0.5s;
    }

    .sorting_arrow_activ {
        border-top: none;
        border-bottom: 15px solid #15064e;
    }

    .sorting_menu li:nth-child(2) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .inner_sorting_menu {
        flex-direction: column-reverse;
        align-items: center;
    }

    .inner_sorting_menu li:last-child{
        justify-content: flex-start;
        padding: 0;
    }

    .inner_sorting_menu li{
        border: none;
        padding: 0;
    }

    .inner_sorting_menu li:first-child {
        border: none;
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }

    .inner_sorting_menu li:nth-child(2) {
        padding: 0;
    }

    .shrink {
        position: relative;
        height: 0px;
        overflow: hidden;
        transition: 0.5s;
        width: 130%;
    }

    #shrink{
        padding-left: 0;
        padding-right: 15px;
        margin-top: 0;
    }

    .shrink_activ {
        height: 100px;
    }
    
    .reservation *:not(a){
        box-shadow: 0px 0px 5px 1px rgb(126, 128, 131);
        border: 1px solid black;
    }

    .reservation a {
        text-shadow: 1px 1px 1px black;
    }

    .footer_menu_logo {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}